<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/icono.png">
</head>
<body>

    <header class="headerMayor"> 
        <section class="cajaprincipal">
            <div class="caja">
                <div class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="busqueda">
                    <form id="busqueda"> 
                        <input type="search" placeholder="Buscar productos, marcas"  id="barra">
                        <i class=" Lupa lupa fa fa-search"></i>
                    </form>
                </div>
                <p class="hand-usd"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <section class="menuOculto">
                <nav class="menu-left">
                    <div class="left"><a href="/" class="link">Ofertas</a></div>
                    <div class="left"><a href="/" class="link">Tiendas Oficiales</a></div>
                    <div class="left"><a href="/" class="link">Vender</a></div>
                    <div class="left"><a href="/" class="link">Ayuda</a></div>
                </nav>
                
                <nav class="menu-right">
                    <div class="right"><a href="/register" class="link">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></div>
                    <div class="right"><a href="/login" class="link">Ingresá<i class="fa-solid fa-arrow-right"></i></a></div>
                    <div class="right"><a href="/home" class="link">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></div> 
                </nav>
               </section>
               <button class="burger"><i class="fas fa-bars"></i></button>
            </div>
        </section> 
    </header>

    <main class="main-register">


        <h1 class="titleH1">Formulario de registro</h1>
        <form class="form-register">
            <div class="nombre-apellido">
                <div>
                    <label for=""></label>
                    <input class="inputs" type="text" placeholder="Nombre y apellido">
                </div>
            </div>

            <div class="nombre-usuario">
                <div>
                    <label for=""></label>
                    <input class="inputs" type="text" placeholder="Nombre de usuario">
                </div>
            </div>

            <div class="calendario">
                <div>
                    <label for=""></label>
                    <input class="input-date" type="date">
                </div>
            </div>

            <div class="domicilio">
                <div>
                    <label for=""></label>
                    <input class="inputs" type="text" placeholder="Domicilio">
                </div>
            </div>

            <div class="perfil-usuario">
                <h3>Perfil de usuario</h3>
                <ul>
                    <li><input type="radio" name="" id="">
                        <label class="label1" for="">Comprador</label>
                    </li>
                    <li class="li2"><input type="radio" name="" id="">
                        <label for="">Vendedor</label>
                    </li>
                </ul>
            </div>

            <div class="interes">
                <h3>Intereses</h3>
                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Electro</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Moda</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Hogar</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Juguetería</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Vida sana</label>
                    </li>
                </ul>
            </div>

            <div class="foto-usuario">
                <h3>Foto de usuario</h3>
                <input type="file">
            </div>

            <div class="contraseña">
                <div>
                    <label for=""></label>
                    <input class="inputs" type="text" placeholder="Contraseña">
                </div>
            </div>

            <div class="contraseña">
                <div>
                    <label for=""></label>
                    <input class="inputs" type="text" placeholder="Confirmar Contraseña">
                </div>
            </div>

            <div class="form-btn">
                <a href="/">
                    <button class="btn btn-send" type="button">Enviar</button>
                </a>
                <button class="btn btn-delete" type="button">Borrar</button>
            </div>
        </form>



    </main>


    <footer style="width: 100%;">
        <section class="top-footer">
            <section class="beneficios">
                <div class="icono-beneficios"><i class="footerIcon far fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <div class="icono-beneficios"><i class="footerIcon fas fa-gift"></i></div>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <div class="icono-beneficios"><i class="footerIcon fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>